# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# misc
.DS_Store
*.pem

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# webstorm
.idea

# env
.env

# typechain
typechain

# exports
exports

# cache
cache

# generated
generated

# manifest and config
manifest.yml
config.json

#dist
dist

#flair
flair
