manifest: 1.2.0

defaultLogLevel: INFO

cluster:
  id: {{ cluster }}
  size: small
namespace: {{ namespace }}

filterGroups:
  - id: default
    updateStrategy: replace
    addresses:
      - fromFile: ./contracts.csv

indexers:
  {{#indexers}}
  - chainId: {{chainId}}
    enabled: {{enabled}}
    ingestionFilterGroup: default
    processingFilterGroup: default
    emitEvents: true
    emitBlocks: false
    emitTransactions: true
    emitTraces: false
    resolveRevertReason: false
    sources:
    {{#sources}}
      - endpoint: {{{.}}}
    {{/sources}}
  {{/indexers}}

processors:
  - id: reorg
    type: reorg
    handler: ./src/processors/reorg/handler.ts

solutions:
  - source: '@flair-sdk/solution-basic-events-txs'
    config:
      events:
        enabled: true
      transactions:
        enabled: true
      abiDirectory: ./src/abis/abi.json
  - source: '@flair-sdk/solution-database-mongodb'
    config:
      schema:
        - src/schemas/*.yml
      connectionUri: '{{{ mongoUri }}}'
      databaseName: flair
