manifest: 1.2.0

defaultLogLevel: INFO

cluster:
  id: {{ cluster }}
  size: small
namespace: {{ namespace }}

filterGroups:
  - id: default
    updateStrategy: replace
    addresses:
      - fromFile: ./contracts.csv

indexers:
  {{#indexers}}
  - chainId: {{chainId}}
    enabled: {{enabled}}
    ingestionFilterGroup: {{ingestionFilterGroup}}
    processingFilterGroup: {{processingFilterGroup}}
    emitEvents: true
    emitBlocks: false
    emitTransactions: false
    emitInternalTransactions: false
    resolveRevertReason: false
    sources:
    {{#sources}}
      - endpoint: {{{.}}}
    {{/sources}}
  {{/indexers}}

processors:
  - id: reorg
    type: reorg
    handler: ./src/processors/reorg/handler.ts
    env:
      - name: LOG_LEVEL
        value: "WARN"

  - id: catchall-events
    type: event
    abi: src/abis/*.json
    handler: src/processors/catchall-events/handler.ts
